<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" 
    novalidate autocomplete="off">
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input 
        (ngModel)="userName" 
        name="userName" 
        required 
        id="userName" 
        type="text" 
        class="form-control" 
        placeholder="User Name..." />
        
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
      <input 
        (ngModel)="password" 
        name="password" 
        required 
        id="password" 
        type="password" 
        class="form-control"
        placeholder="Password..." />
        
    </div>
     <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">  
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary mr-5">Login</button>
    </span> 
    <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
  </form>
</div>
<!-- <div class="col-md-8">
    <div class="col-md-6">
        loginForm.valid: <strong>{{loginForm.valid}}</strong><br>
        loginForm.invalid: <strong>{{loginForm.invalid}}</strong><br>
        loginForm.dirty: <strong>{{loginForm.dirty}}</strong><br>
        loginForm.pristine: <strong>{{loginForm.pristine}}</strong><br>
        loginForm.touched: <strong>{{loginForm.touched}}</strong><br>
        loginForm.untouched: <strong>{{loginForm.untouched}}</strong><br>
    </div>
    <div class="col-md-6">
        loginForm.controls.userName.valid: <strong>{{loginForm.valid}}</strong><br>
        loginForm.controls.userName.invalid: <strong>{{loginForm.invalid}}</strong><br>
        loginForm.controls.userName.dirty: <strong>{{loginForm.dirty}}</strong><br>
        loginForm.controls.userName.pristine: <strong>{{loginForm.pristine}}</strong><br>
        loginForm.controls.userName.touched: <strong>{{loginForm.touched}}</strong><br>
        loginForm.controls.userName.untouched: <strong>{{loginForm.untouched}}</strong><br>
    </div>
    <div class="col-md-6">
        loginForm.controls.password.valid: <strong>{{loginForm.valid}}</strong><br>
        loginForm.controls.password.invalid: <strong>{{loginForm.invalid}}</strong><br>
        loginForm.controls.password.dirty: <strong>{{loginForm.dirty}}</strong><br>
        loginForm.controls.password.pristine: <strong>{{loginForm.pristine}}</strong><br>
        loginForm.controls.password.touched: <strong>{{loginForm.touched}}</strong><br>
        loginForm.controls.password.untouched: <strong>{{loginForm.untouched}}</strong><br>
    </div>
</div> -->

<!-- {{loginForm.value | json}} -->